h1 {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 2.0rem; /* Ajusta el tamaño de la fuente como desees */
    margin: 20px 0; /* Añade margen superior e inferior para más espacio */
}

.btn-realizar {
    margin-left: 30px; /* Ajusta este valor para mover el botón más a la derecha */
}

.btn-csv {
    position: absolute; /* Posicionamiento absoluto */
    top: 20px; /* Ajusta la distancia desde la parte superior de la página */
    left: 70px;
    padding: 5px 5px;
    font-size: 0.8rem;
    z-index: 1000; /* Asegúrate de que esté encima del navbar */
}

.excel-icon1 {
    position: absolute; /* Posicionamiento absoluto */
    top: 10px; /* Ajusta la distancia desde la parte superior de la página */
    
    width: 45px;
    height: auto;
    z-index: 1000; /* Asegúrate de que esté encima del navbar */
    left: 20px;
}



/* Estos son los estilos de los inputs donde se crean columnas y filas */
.custom-input {
    width: 100px; /* Personaliza el ancho como desees */
    height: 30px; /* Personaliza la altura como desees */
    font-size: 12px; /* Personaliza el tamaño de la fuente como desees */
}

.custom-input-valor {
    width: 100px; /* Personaliza el ancho como desees */
    height: 30px; /* Personaliza la altura como desees */
    font-size: 12px; /* Personaliza el tamaño de la fuente como desees */
}

.form-container {
    background-color: rgb(241, 239, 239);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: -500px;  /*  Lo cambiare a -500 */
    margin-right: auto;
}

.form-container h2 {
    margin-left: 80px;
    font-size: 1.8rem; /* Ajusta el tamaño de la fuente para hacerla más pequeña */
}

.form-container h3 {
    margin-top: 50px;
    margin-left: 55px;
    font-size: 1.8rem; /* Ajusta el tamaño de la fuente para hacerla más pequeña */
}

.form-container h4 {
    margin-top: 30px;
    margin-left: 55px;
    font-size: 1.8rem; /* Ajusta el tamaño de la fuente para hacerla más pequeña */
}

/* Estilos para la tabla matriz */
.matriz-table {
    margin-top: -700px; /* Ajusta el margen superior para pantallas grandes y medianas */
    width: 100%; /* Ocupa el 100% del ancho */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    margin-left: 30px; /* Ajusta el margen izquierdo */
}

/* Estilos del navbar */
.custom-navbar {
    font-size: 1.25rem; /* Aumenta el tamaño de la fuente del navbar */
    padding: 1rem 0.10rem; /* Aumenta el padding del navbar */
}







/* Estilo hover de los links del navbar */
.custom-navbar .nav-link:hover {
    color: #cfdcd2; /* Cambia el color del texto al hacer hover (color naranja, por ejemplo) */
}

/* Estilo para el toggler */
.custom-navbar .navbar-toggler {
    font-size: 1.25rem; /* Aumenta el tamaño del texto del toggler */
    padding: 0.75rem; /* Aumenta el padding del toggler */
}

/* Estilo para la marca del navbar */
.custom-navbar .navbar-brand {
    font-size: 1.5rem; /* Aumenta el tamaño del texto de la marca */
}

@media (min-width: 992px) {
    .custom-navbar .navbar-nav .nav-link {
        padding-right: 2rem; /* Ajusta el padding para pantallas grandes */
        padding-left: 2rem;
    }
}

/* Estilos para los botones dentro del form */
.button-container {
    margin-top: 20px; /* Ajusta este valor para mover todo el contenedor de botones hacia abajo */
    text-align: center; /* Centra el contenido horizontalmente */
}

.button-container h2 {
    margin-left: -20px;
    margin-top: 60px;
    margin-bottom: -15px; /* Ajusta el espacio debajo del título */
    font-size: 1.8rem; /* Ajusta el tamaño de la fuente para hacerla más pequeña */
}

.button-container .btn {
    margin: 0 10px; /* Ajusta el espacio horizontal entre los botones */
    padding: 5px 10px; /* Ajusta el padding para hacer los botones más pequeños */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente de los botones */
    display: inline-block; /* Asegura que los botones estén en la misma línea */
    margin-top: 30px;
}

/* Estilos para customizar el input y el botón y el icono de Excel */
.import-export-buttons input[type="file"] {
    margin-top: 20px;
    margin-left: 10px; 
}

.import-export-buttons button {
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.excel-icon {
    width: 60px;
    height: auto;
    margin-top: -5px;
    margin-left: 50px;
}



/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    /* Ajusta el formulario */
    .form-container {
        width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
        left: 0; /* Elimina el desplazamiento horizontal */
        top: 0; /* Elimina el desplazamiento vertical */
        margin: 0 auto; /* Centra horizontalmente */
        height: auto; /* Deja que la altura se ajuste automáticamente */
        padding: 10px;
    }

    /* Ajusta el margen de la matriz para pantallas pequeñas */
    .matriz-table {
        margin-top: 20px; /* Ajusta el margen superior para que esté por debajo del formulario */
    }

    /* Ajusta los botones de importar/exportar */
    .import-export-buttons {
        display: flex;
        flex-direction: column; /* Coloca los botones en una columna */
        align-items: center; /* Centra los botones horizontalmente */
    }

    .import-export-buttons input[type="file"],
    .import-export-buttons button {
        width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
        margin-top: 10px; /* Añade margen entre los elementos */
    }
}

/* Estilos responsivos para pantallas medianas y grandes */
@media (min-width: 768px) and (max-width: 1199px) {
    .form-container {
        width: 80%; /* Ocupa el 80% del ancho en pantallas medianas */
        height: auto; /* Deja que la altura se ajuste automáticamente */
        padding: 20px;
    }

    .matriz-table {
        width: 100%; /* Ocupa el 100% del ancho */
    }

    .button-container .btn {
        font-size: 1rem; /* Aumenta el tamaño de la fuente de los botones */
    }
}

@media (min-width: 1200px) {
    .form-container {
        width: 60%; /* Ancho del 60% en pantallas grandes */
    }

    .button-container .btn {
        font-size: 1.1rem; /* Aumenta el tamaño de la fuente de los botones */
    }

    .custom-navbar {
        font-size: 1.5rem; /* Aumenta el tamaño de la fuente del navbar */
    }
}


#errorToast {
    background-color: #f8d7da; /* Fondo rojo claro */
    color: #721c24; /* Texto rojo oscuro */
    border: 1px solid #f5c6cb; /* Borde rojo */
    border-radius: 8px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interior */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    position: fixed; /* Mantenerlo fijo en la pantalla */
    bottom: 20px; /* Separación desde la parte inferior */
    right: -350px; /* Inicialmente fuera de la pantalla */
    max-width: 500px; /* Ancho máximo del toast */
    z-index: 1050; /* Asegurar que esté por encima de otros elementos */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease-in-out; /* Transición suave de opacidad */
}
  
#errorToast.show {
    animation: slide-in 0.5s forwards; /* Animación de entrada */
    opacity: 1; /* Visibilidad cuando tiene la clase 'show' */
}
  
/* Definir la animación */
@keyframes slide-in {
    from {
      right: -350px; /* Iniciar fuera de la pantalla */
      opacity: 0; /* Opacidad inicial */
    }
    to {
      right: 20px; /* Posición final */
      opacity: 1; /* Aparecer visiblemente */
    }
}
  