/*Estos son los estilos del form donde estolumnas y filas*/
.custom-input {
    width: 80px; /* Personaliza el ancho como desees */
    height: 30px; /* Personaliza la altura como desees */
    font-size: 12px; /* Personaliza el tamaño de la fuente como desees */
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Cambiado a relative */
    left: 600px; /* Mueve el contenedor px a la derecha */
    top: -70px;
    width: 400px; /* Ancho fijo */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}





/*Estos son los estilos para hacer cmbios de la tabla matriz*/
.matriz-table {
    margin-top: -50px; /* Mueve la tabla hacia arriba */
}







/*Aqui es para customizar el navbar a mis gusto*/
.custom-navbar {
    font-size: 1.25rem; /* Aumenta el tamaño de la fuente del navbar */
    padding: -1rem 0.5rem; /* Aumenta el padding del navbar */
}

.custom-navbar .nav-link {
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente de los links */
    padding: 0.5rem 1rem; /* Aumenta el padding de los links */
}

.custom-navbar .navbar-toggler {
    font-size: 1.25rem; /* Aumenta el tamaño del texto del toggler */
    padding: 0.75rem; /* Aumenta el padding del toggler */
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem; /* Aumenta el tamaño del texto de la marca */
}

@media (min-width: 992px) {
    .custom-navbar .navbar-nav .nav-link {
        padding-right: 2rem; /* Ajusta el padding para pantallas grandes */
        padding-left: 2rem;
    }
}